<% if @snmp_response.is_a?(Array) %>
  <% time = Time.now.to_i %>
  $("#results").prepend("<h2>Table Walk Results - <%= params[:host] %></h2><br /><%= raw @buffer %><hr />");
  
<% else %>
  $("#results").prepend("<h2>Results</h2><%= params[:host] %> - <%= params[:oid] %> (<%= @snmp_response.varbind_list.first.name %>): <%= @snmp_response.varbind_list.first.value %>");
<% end %>

$("#spinner").fadeOut();